{{define "title"}}
<title>Title</title>
<link rel="stylesheet" href="/static/navbar.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/pagination.css">
<link rel="stylesheet" href="/static/pagebtn.css">
{{end}}
{{define "content"}}
<div class="btn-group">
    <a href="/events/1?pagesize=1" class="button">1</a>
    <a href="/events/1?pagesize=2" class="button">2</a>
    <a href="/events/1?pagesize=5" class="button">5</a>
</div>
<br>
<br>
<table>
    <tr>
        <th>Описание</th>
        <th>Количество участников</th>
        <th>Владелец</th>
    </tr>
{{range $i, $x := $.events}}
    <tr>
        <th><a href=/event/{{$x.Id}}>{{$x.Description}}</a></th>
        <th>{{$x.PartCount}}</th>
        <th>{{$x.Owner}}</th>
        <th>
            <form action = "/events/register" method = "post">
                <input type="submit" name="event" value={{$x.Id}}  />
            </form>
        </th>
        <th></th>
    </tr>
{{end}}
</table>

<div class="pagination">
{{if gt $.pagenum 1}}
    <a href="/events/{{$.pagenumPr}}/?pagesize={{$.pageSize}}">&laquo;</a>
{{end}}
    <a href="/events/{{$.pagenumN}}/?pagesize={{$.pageSize}}">&raquo;</a>
</div>
{{end}}