{{define "title"}}
<title>Title</title>
<link rel="stylesheet" href="/static/navbar.css">
<link rel="stylesheet" href="/static/table.css">
<link rel="stylesheet" href="/static/pagination.css">
<link rel="stylesheet" href="/static/pagebtn.css">
<link rel="stylesheet" href="/static/usercard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{end}}
{{define "content"}}
<div class="card">
    <h1>{{$.user.UserName}}</h1>
    <p>{{$.user.CountEvens}}</p>
</div>
{{end}}